{
 "Statement": [
   {
     "Sid": "Stmt1313686153864",
     "Action": [
       "iam:List*"
     ],
     "Effect": "Allow",
     "Resource": "*"
   }
 ]
}
